{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}


<div class="container">
    <div class="col-lg-6">
        <h1>Message sender a reciever</h1>
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.topic) }}
            </div>
            <div class="col" id="some-custom-id">
                {{ form_row(form.content) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
